<%- include ("./partials/header") ; %>

<!-- header -->
<section id="Header-main">
  <div class=" p-2">
    <img src="images/logo.jpg" alt="">
    <h3 class="m-2">Institute of Electrical and Electronics Engineers Manit Student Branch</h3>
  </div>
</section>

<!-- recruitment event -->
<section id="main-event">
  <div class="d-flex justify-content-center align-items-center ">
    <div class="recruitment-card">
      <div class="row no-gutters">
        <div class="col-lg-5 col-md-5">
          <div class="recruitment-event-card">
            <div class="recruitment-event">
              <img class="mt-2 " src="images/recruiting-soon.jpg" alt="">
              <div class="event-details py-3">
                <h2 class="m-2">We are recruiting!</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-7 col-md-7 p-3">
          <div class="recruitment-details py-5 px-3">

            <div class="m-2">
              <p>IEEE MSB announces with great gusto, that it would be conducting it's preliminary round of the recruitment process on the 5th of September for the multitude of posts as illustrated in the poster.
                Hope you all are prepared and enthusiastic to venture into the remarkable journey of learning and emulation with striving desire to be a part of the team that contributes to the world of science!
                IEEE promises growth of each of it's members as individuals and gives them just the right exposure one needs during college life. The events are conducted on a national level with eminent personalities marking their presence during
                the guest lecture series. Such large scale events help one to inbuild in themselves a sense of professionalism which proves to be of utmost value for the future endeavours one desires to pursue after college.</p>
            </div>

            <div class="">
              <a href="/register"><button class="my-2" type="button" name="button">Register</button></a>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<!-- About-section -->
<section id="about">
  <div class="about-box">
    <div class="row no-gutters aboutUs ">
      <div class="col-lg-6 col-md-6 p-5">
        <div class="img-box">
          <img class="m-4" src="images/ieee-team.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="">
          <div class="about_button">
            <h1 class="">About Us</h1>
          </div>
          <div class="py-5 px-2">
            <p>The IEEE–MANIT student branch was inaugurated on 14th March 2011 with Dr. Shailendra Jain as the Branch Counsellor and Dr. R K Baghel as the Branch Mentor. The IEEE Student Branch at MANIT endeavours to promote awareness among students
              on the opportunities that exist in the field of computer science, electronics and electrical engineering. IEEE MANIT helps students develop their professional and technical abilities by organising various events all-round the year with
              well-defined objectives. Since the inception, it has been at the helm directing and promoting technical expertise. </p>
            <p>Our objective is to bridge the gap between industry and students studying in technology-related fields, while promoting and providing an intellectually stimulating university environment for the student body.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Events section -->
<Section id="our-events" class="web_portfolio">
  <div class="container-fluid">
    <div class="p-3">
      <h1 class="title">Our Events</h1>
    </div>
    <div class="d-flex justify-content-center">

      <div class="event-card">

        <div class="flex-flow">


          <div class="event">
            <img class="mt-2" src="images/srajan.jpg" alt="">
            <div class="web-page-link">
              <div class="event-discription animated fadeInUp">
                <p>Srsjan is a Student's Project Contest chase and Case Study. The event lures young trailblazer and gives them a national level platform to display their ideas and innovation. The event encompasses various technical workshop and
                  guest lectures by eminent personalities with previous speraker being Dr. HC Verma, Dr. Don Vaughn, and many more. </p>
              </div>
            </div>
            <div class="event-details">
              <h3 class="">Srajan</h3>
            </div>
          </div>


          <div class="event">
            <img class="mt-2" src="images/samwad.jpg" alt="">
            <div class="web-page-link">
              <div class="event-discription animated fadeInUp">
                <p>Realizing the boundless potential of women and honoring their outstanding contribution in engineering, IEEE celebrates their everlasting legacy with IEEE WIE . IEEE WIE, an worldwide organization committed to advance women in both
                  academia and profession of engineering. To commemorate this IEEE MSB is organizing SAMWAD’19, an extempore and debate competition.</p>
              </div>
            </div>
            <div class="event-details">
              <h3 class="">Samwad</h3>
            </div>
          </div>



          <div class="event">
            <img class="mt-2" src="images/sceecs.jpg" alt="">
            <div class="web-page-link">
              <div class="event-discription animated fadeInUp">
                <p>With the dawn of this new era of digitalization, comes the necessity to enhance our knowledge in this domain. The knowledge of marketing skills and strategies have become a prerequisite to survive in this business world. Keeping in
                  mind these raging demands of today's society IEEE MSB brings to you a workshop on Digital Marketing in its upcoming event SCEECS'20.</p>
              </div>
            </div>
            <div class="event-details">
              <h3 class="">Sceecs</h3>
            </div>
          </div>


        </div>

      </div>
    </div>
  </div>
</section>


<!-- footer -->

<section id="footer" class="p-3">

  <div class="d-flex justify-content-center">
    <div class="row no-gutters">

      <div class="col-lg-6 col-md-6">
        <div class="contact-details p-4 mx-5">
          <div class="">
            <h5>IEEE MSB</h5>
            <br>
            <div class="d-flex social-media">
              <div class="icons m-2">
                <a href="https://www.facebook.com/IEEEMANIT">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
              </div>
              <div class="icons m-2">
                <a href="https://instagram.com/ieee_manit?igshid=c37gj9yu2gis">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
              </div>
              <div class="icons m-2">
                <a href="https://twitter.com/ieeemanit">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-6">
        <div class="Subscribe p-4 mx-5">
          <h6>Subscribe our newsletter</h6>
          <br>
          <div class="">
            <input type="text" name="email" class="m-1" value="" placeholder="Enter Your Email">
            <button type="submit" name="button" class="m-1">Subscribe</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="line"></div>
  </div>
  <br>
  <div class="d-flex justify-content-center">
    <p>© All Rights Reserved.</p>
  </div>
</section>





<%- include ("./partials/footer") ; %>
